<%- include('partials/_header') %>

    <main class="container">
        <div class="row">
            <div class="col-6">
                <%- include('partials/_flash') %>
            </div>
        </div>
        <h1>Home</h1>
    </main>

<%- include('partials/_footer') %>