<%- include('../partials/_header') %>

    <main class="container">
        <div class="row">
            <h1 class="text-center mb-4">New Campground</h1>
            <div class="col-6 mx-auto">
                <form class="needs-validation" action="/campgrounds" method="POST" novalidate>
                    <div class="mb-2">
                        <input class="form-control" type="text" name="campground[title]" placeholder="Add a title" required>
                        <div class="valid-feedback">Looks good!</div>
                        <div class="invalid-feedback">Please add a title.</div>
                    </div>
                    <div class="mb-2">
                        <input class="form-control" type="text" name="campground[location]" placeholder="Location" required>
                        <div class="valid-feedback">Looks good!</div>
                        <div class="invalid-feedback">Please provide the location.</div>
                    </div>
                    <div class="input-group mb-2">
                        <span class="input-group-text">$</span>
                        <input type="text" class="form-control" name="campground[price]" placeholder="Price" required>
                        <div class="valid-feedback">Looks good!</div>
                        <div class="invalid-feedback">Please add a price.</div>
                      </div>
                    <div class="mb-2">
                        <input class="form-control" type="text" name="campground[image]" placeholder="Image URL" required>
                        <div class="valid-feedback">Looks good!</div>
                        <div class="invalid-feedback">Please provide an image URL.</div>
                    </div>
                    <div class="mb-4">
                        <textarea class="form-control" name="campground[description]" placeholder="Description" cols="30" rows="10" required></textarea>
                        <div class="valid-feedback">Looks good!</div>
                        <div class="invalid-feedback">Please add a description.</div>
                    </div>
                    <button class="btn btn-success mb-2" type="submit">Add Campground</button>
                </form>
                <a class="btn btn-light" href="/campgrounds">Cancel</a>
            </div>
        </div>
    </main>

<%- include('../partials/_footer') %>